<h1>Update your profile</h1>

<% assigns =
     assigns
     |> Map.put(:action, Routes.user_path(@conn, :update, @user))
     |> Map.put(:button_text, "Save changes")
     %>
<%= render "form.html", assigns %>

<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
</div>
