<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(assigns[:page_title]) %></title>
    <%= render(SampleAppWeb.PartialView, "phoenix_default.html", assigns) %>
  </head>
  <body>
    <%= render(SampleAppWeb.PartialView, "header.html", assigns) %>
    <main role="main">
      <div class="container">
        <!--<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>-->
        <!--<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>-->
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <%= render(SampleAppWeb.PartialView, "footer.html", assigns) %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
