<%= link gravatar_for(@user, size: 50), to: Routes.user_path(@conn, :show, @user) %>
<h1><%= @user.name %></h1>
<span><%= link "view my profile", to: Routes.user_path(@conn, :show, @user) %></span>
<span><%= "#{Enum.count(@user.microposts)} micropost(s)" %></span>