<%= link gravatar_for(@current_user, size: 50), to: Routes.user_path(@conn, :show, @current_user) %>
<h1><%= @current_user.name %></h1>
<span><%= link "view my profile", to: Routes.user_path(@conn, :show, @current_user) %></span>
<span><%= "#{@microposts.total_entries} micropost(s)" %></span>